@model Chalkable.Apps.Entities.Models.SimpleApplication

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SimpleApplicationsLayout.cshtml";    
}

<h2>Details</h2>

<div>
    <h4>SimpleApplication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DefaultSearchOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultSearchOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
