<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Chalkable Youtube</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

    <link href="@ViewBag.ApiRoot/Home/UiLibraryUrl" type="text/css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,600,400,700" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet" type="text/css">
    
    <meta name="viewport" content="width=device-width" />
    @*@Styles.Render("~/Content/css")*@

    <script src="/Scripts/jquery-2.2.3.min.js"></script>

    @Scripts.Render(ViewBag.ApiRoot + "/scripts/api/chlk-js-api.js")
        

    @RenderSection("headscripts", false)
    
    <script src="@Url.Content("~/Scripts/app.compiled.js")"></script>
</head>
<body>
    <div class="youtube-main">
        <div class="youtube-header">YouTube Recommended Content</div>
        <section class="content-wrapper">
            <div class="fluid-container">
                @RenderBody()
            </div>
        </section>
    </div>
</body>
</html>