@model Youtube.Models.StartupViewData

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headscripts
{
    <script type="text/javascript">
        //--- initialze data for filtering
        var ONLY_VIDEO_VIEW = @Html.Raw(Model.OnlyViewVideo).ToString().ToLower();
        var IS_RECOMMENDED_ENABLED = @Html.Raw(Model.IsRecommendedEnabled).ToString().ToLower();
        var VIDEO_ID = "@Html.Raw(Model.VideoId)";
        var STANDARD_VIDEOS = @Html.Raw(Model.StandardVideosJson ?? "[]");
        var ANNOUNCEMENT_APPLICATION_ID = @Html.Raw(Model.AnnouncementApplicationId ?? 0);
    </script>
}

<div class="videos-view">
</div>