@model Youtube.Models.VideoModel
@{
    ViewBag.Title = "Preview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="logo">@Html.ActionLink("cancel", "Edit", new RouteValueDictionary
               {
                   {"announcementApplicationId", Model.AnnouncementApplicationId},
                   {"districtId", Model.DistrictId}
               });
</div>
@Html.Hidden("baseremoteurl", ViewData["chalkableurl"], new {id = "baseremoteurl"})

@using (Html.BeginForm("Edit", "Home")) {    
    <div>
        @Html.Hidden("announcementApplicationId", Model.AnnouncementApplicationId)
        @Html.Hidden("districtId", Model.DistrictId)
        <div id="query-container">
            <input id="query"  placeholder="Video topic or URL" name="query" type="text" value="">
            <input type="submit" id="search-button" value=""/>
        </div>        
    </div>
}

@Helpers.YoutubeIframe(Model)